html,body{
	background-color: whitesmoke;
	background-size: cover;
	font-family: "Open Sans", sans-serif;
	font-family: "Work Sans", sans-serif;
	font-size: 20px;
	line-height: 40px;
}
	
canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 600px;
}